/* Global style for body */

body {
    background-color: #E8DED1;
    font-family: Arial ,sans-serif;
    margin: 0;
    padding: 0;
}

/* Container Styling */
.container {
    margin: auto;
    max-width: 1000px;
    padding: 20px;
}

/* Header Styling */
header {
    background-color: #C8AD7E;
    color: white;
    padding: 15px 0;
    text-align: center;
}

header h1 {
    color: white;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 0 10px;
}

nav {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin: 0 10px;
    font-weight: bold;
}
nav a:hover {
    text-decoration: underline;
}

hr {
    border: 0;
    height: 2px;
    background: white;
    margin: 20px 0;
}

/* Club Description Styling */
details {
    background: #E8DED1;
    padding: 10px;
    border-radius: 5px;
}

summary {
    font-weight: bold;
    cursor: pointer;
}

/* Search Form Styling */
form {
    background: #f1ece5; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

input[type="text"], input[type="date"],textarea, select {
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #BFAB8C;
    border-radius: 5px;
}

input[type="button"] {
    padding: 8px 15px;
    background-color:#C8AD7E;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

input[type="button"]:hover {
    background: #C8AD7E;
}

.results {
    background: #f1ece5;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.paginationing {
    text-align: center;
    margin-top: 20px;
}

.paginationing a {
    padding: 8px 12px;
    margin: 5px;
    text-decoration: none;
    background: #C8AD7E;
    color: white;
    border-radius: 5px;
    display: inline-block;
}

.paginationing a:hover {
    background: #A0816C;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #C8AD7E;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

input[type="submit"]:hover {
    background-color: #A0816C;
}


/* Footer Styling */
footer {
    background-color: #C8AD7E;
    color: white;
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
}

footer h5{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

footer a img {
    margin: 10px;
    transition: transform 0.2s;
}

footer a img:hover {
    transform: scale(1.1);
}
