

/* the general style */
body {
    background-color: #E8DED1;
    font-family: Arial ,sans-serif;
    margin: 0;
    padding: 0;
}

/* Container Styling */
.container {
    margin: auto;
    max-width: 1000px;
    padding: 20px;
}

/* Header Styling */
header {
    background-color: #C8AD7E;
    color: white;
    padding: 15px 0;
    text-align: center;
}

header h1 img {
    vertical-align: middle;
}

header h1 {
    color: white;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 0 10px;
}

nav {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 3px;
    margin-top: 10px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    margin: 0 10px;
    font-weight: bold;
}
nav a:hover {
    text-decoration: underline;
}

hr {
    border: 0;
    height: 2px;
    background: white;
    margin: 20px 0;
}

/*  Description Styling */
p {
    background: #E8DED1;
    padding: 10px;
    border-radius: 5px;
    max-width: 850px;
}

/*  filters Styling */

.filters {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    margin: 30px 0;
    justify-content: center;
}

.filters input[type="text"] {
    padding: 10px;
    border: 1px solid #BFAB8C;
    border-radius: 5px;
    width: 600px;
}

.filters label {
    font-weight: bold;
}

/* the search and sort styling */
.search-sort {
    width: auto; 
    padding: 8px;
    margin: 0;
    border: 1px solid #BFAB8C; 
    border-radius: 5px;
}

/*  the filter button Styling */

.filters button {
    padding: 8px 15px;
    background-color: #C8AD7E;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.filters button:hover {
    background-color: #A0816C;
}

/* the note cards */
.grid {
    display: flex;
    overflow-x: auto; 
    gap: 20px;
    padding: 10px 0;
}

.grid article {
    min-width: 250px; 
    background-color: white;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.289);
    flex-shrink: 0; 
    transition: transform 0.5s ease;
}

.grid article:hover {
    transform: translateY(-5px);
}

/* the click for more notes button */
.load-more-card {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.controls {
    display: flex; /* Align buttons in a row */
    justify-content: space-between; /* Space them apart */
    align-items: center; /* Vertically center the buttons */
    width: 100%; /* Ensure the container takes full width */
  }
.pagination {
    display: flex; /* Align pagination buttons horizontally */
    gap: 10px; /* Space between buttons */
  }

/*  the buttons Styling */
button {
    background-color: #BFAB8C;
    color: white;
    padding: 7px 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #A0816C;
}

/*  the active Styling after clicking */
button:active {
    background-color: #8c6d52;
    transform: scale(0.97);
}

.grid h3 {
    color: #381f12;
}

.grid p {
    margin: 0.5rem 0;
    color: #A0816C;
    font-weight: 500;
}

/*  form Styling */
form {
    background: #f1ece5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    font-weight: bold;
    display: block;
    margin-top: 15px;
}

form input[type="text"],
form input[type="date"],
form select,
form textarea {
    width: 97%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #BFAB8C;
    border-radius: 5px;
}

/*  form button Styling */
form button[type="submit"] {
    margin-top: 20px;
    background-color: #C8AD7E;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

form button[type="submit"]:hover {
    background-color: #A0816C;
}

/*  Footer Styling */
footer {
    background-color: #C8AD7E;
    color: white;
    text-align: center;
    margin-top: 40px;
    padding: 10px 0;
}

footer h5 {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

footer a img {
    margin: 10px;
    transition: transform 0.2s;
    border-radius: 5px;
}

footer a img:hover {
    transform: scale(1.1);
}